{% extends 'layout.html' %}

{% block body %}
	<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul>
                    <li style="font-size: 45px;">My name is Kuldeep Yadav.</li>
                    <li style="font-size: 45px;">I am a student of MADAN MOHAN MALAVIYA UNIVERSITY of Technology Gorakhpur.</li>
                    <li style="font-size: 45px;">B.Tech 3rd Year, Computer Science and Engineering.</li>
                </ul>
            </div>
             <div class="col-sm-6">
                <img src="static/images/img1.jpg" class="img-responsive" style="height:400px; border-radius:60%">
            </div>
        </div>
    </div>



{% endblock %}