{% extends 'layout.html' %}

{% block body %}

<div class="container pt-5 my-5 z-depth-1">
  <section class="p-md-3 mx-md-5">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-6 mb-4">
        <h2 class="font-weight-bold mb-3">WHY US?</h2>
        <p class="text-muted pt-3">
          As the society is evolving, we are started relying more on online platforms than a physical one. There are thousands of online platforms been pop-up in last few years, which is good. No doubt online platforms are good but they work well with students who know the internet world in a better way. What happens when a kid joins online platform a continuous guide is required, because the internet world is quite new to him/her and she/he just want to know every pop-up comes in front of his/her eyes. So, we wanted to make something to help those kids by providing home tutor.  
        </p>
      </div>
      <div class="col-md-6 col-lg-4 d-flex justify-content-center mb-md-0 mb-5">
        <i class="fa fa-layer-group indigo-text fa-10x"></i>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="far fa-paper-plane indigo-text pr-2"></i> Feature 1
        </h4>
        <p class="text-muted mb-lg-0">
          As the user get into the site, home page will appear in front of him/her. Which contains About, Contact, Login/Register fields in navigation bar. And on the main page inside the container (Find your teacher) a clickable button is present, by pressing that button user can search the tutor in any specific city.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-pen-alt green-text pr-2"></i> Feature 2
        </h4>
        <p class="text-muted mb-lg-0">
          In Contact field, user can contact with us if any query or help required regarding the site.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-user amber-text pr-2"></i> Feature 3
        </h4>
        <p class="text-muted mb-md-0">
          User can either login or register as a student or teacher. After registration student will get id and password for login and the teacher will get teacher’s login id and password.
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-rocket red-text pr-2"></i> Feature 4
        </h4>
        <p class="text-muted mb-md-0">
		ML base rating and recommendation system will also be present to increase better user experience and better tutors for the students.</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="font-weight-bold mb-3">
          <i class="fas fa-user amber-text pr-2"></i> Feature 5
        </h4>
        <p class="text-muted mb-md-0">
          The website will give the exact location of tutor/student. And this will be done using google map API for location fetching.
        </p>
      </div>
    </div>
  </section>
</div>

{% endblock %}